.portfolio__banner {
   height: 100vh;
   background-image: url('../../images/PhotoMeryem.jpeg');
   background-repeat: no-repeat;
   background-position: center 25%;
   background-color: $bg-1;


   @include media-breakpoint-up(lg) {
      position: relative;
      justify-content: unset;
      background-position: right 25%;
      background-image: none;

      .container {
         background-image: url('../../images/PhotoMeryem.jpeg');
         background-repeat: no-repeat;
         background-position: right 25%;
         height: 100%;
      }
   }

   .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
   }
}

header {
   display: flex;
   flex-direction: column;
   margin-bottom: 5rem;
   align-items: center;
   color: $txt-white;

   .portfolio__brand {

   }

   .portfolio__rs {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-top: -1rem;


      li {
         margin: 0 1rem;

         img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;

            &:hover {
               // filter: drop-shadow(0px 0px 20px 0px #eae3dc);
               -webkit-filter: drop-shadow(5px 0px 8px #eae3dc);
               filter: drop-shadow(5px 0px 8px #eae3dc);
            }
         }
      }
   }

   @include media-breakpoint-up(lg) {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;

      .portfolio__rs {
         margin-top: 0;
         li {
            img {
               width: 3.2rem;
               height: 3.2rem;
            }
         }
      }
   }
}

.portfolio__text {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: $txt-white;

   h1 {
      margin-bottom: 2rem;
      font-family: $ff-leagueSpartan;

      span {
         font-family: $ff-passions;
         font-size: 4rem;
      }
   }

   .portfolio__desc {
      line-height: 2.5rem;
      margin-bottom: 2rem;
      font-size: 2rem;
      font-family: 'League Spartan', sans-serif;
   }

   .portfolio__contactme--link {
      color: $txt-white;
      margin-bottom: 2rem;
      text-decoration: none;
      
      &:after {
         content: "";
         display: flex;
         width: 40%;
         height: .2rem;
         margin-top: -0.5rem;
         background-color: $key-2;
         transition: width .3s;
      }

      &:hover {
         &:after {
            width: 100%;
         }
      }
   }

   @include media-breakpoint-up(lg) {
      align-items: flex-start;
      width: 65%;
      top: calc(50% - 3rem);
      text-align: left;
      transform: translateY(-50%);
      position: absolute;

      h1 {
         margin-bottom: 2rem;

         span {
            font-size: 7rem;
         }
      }
   }
}