// var-custom.scss -- Variables for project
  // #### Backgrounds
$bg-1: hsl(222, 37%, 14%);
$key-2: hsl(30, 25%, 89%);
$bg-4: hsl(223, 31%, 20%);
$bg-3: hsl(222, 26%, 31%);

  // #### Keys
$key-bg--1: hsl(225, 21%, 49%);
$key-shadow--1: hsl(224, 28%, 35%);

$key-bg--toggle: hsl(6, 63%, 50%);
$key-bg--toggle-hover: hsl(25, 98%, 40%);

$key-shadow--2: hsl(28, 16%, 65%);
$key--hover: hsl(0, 0%, 100%);
$key--delReset--hover: hsl(222, 51%, 75%);
$key-equal-shadow-toggle--1: hsl(6, 70%, 34%);
$key--equal--hover: hsl(6, 95%, 67%);

  // #### Text
$txt-color-1: hsl(221, 14%, 31%);
$txt-white: hsl(0, 0%, 100%);
$txt-btn:  hsl(221, 14%, 31%);

// Font weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 900;

$typo-familles-weight: (
  "light": $fw-light,
  "regular": $fw-regular,
  "medium": $fw-medium,
  "semiBold": $fw-semiBold,
  "bold": $fw-bold,
  "extraBold": $fw-extraBold,
  "black": $fw-black,
);


// Font family
$ff-leagueSpartan : 'League Spartan', sans-serif;
$ff-saira : 'Saira Condensed', sans-serif;
$ff-passions : 'Passions Conflict', cursive;